
<div class="row responsive">

	<div class="col-md-10">

	<h2>2015-16 Fellows</h2>
<ul class="media-list">

{% for person in site.data.fellows %}
	{% if person.fellowshipyear == '2015-16' %}
	<li class="media">
	  <span class="pull-left" >
		  <img class="media-object img-circle" src="{{ person.img }}" alt="{{ person.name }}" width="180">
	  </span>
	<div class="media-body">
		  <h4>{{ person.fullname }} <small> {{ person.projecttitle }}</small></h4>
		<span>{{ person.description }}</span> 
	</div>
	</li>

	{% endif %}
{% endfor %}	
</ul>	


</div><!-- end col -->
</div>
<div class="row responsive">

<div class="col-md-10">

	<h2>2013-14 Fellows</h2>

<ul class="media-list">
{% for person in site.data.fellows %}
{% if person.fellowshipyear == '2013-14' %}
	<li class="media">
	  <span class="pull-left" >
		  <img class="media-object img-circle" src="{{ person.img }}" alt="{{ person.name }}" width="100">
	  </span>
					<div class="media-body">
		 			   <h4>{{ person.fullname }} <small> {{ person.projecttitle }}</small></h4>
					   <span>{{ person.description }}</span> 
				   </div>
	</li>
    {% endif %}
    {% endfor %}
</ul>

</div><!-- end col -->
</div>
<div class="row responsive">
<div class="col-md-10">

	<h2>2012-13 Fellows</h2>
<ul class="media-list">
{% for person in site.data.fellows %}
{% if person.fellowshipyear == '2012-13' %}
				<li class="media">
			  	  <span class="pull-left">
			  		  <img class="media-object img-circle" src="{{ person.img }}" alt="{{ person.name }}" width="100">
				  </span>
					<div class="media-body">
		 			   <h4>{{ person.fullname }} <small> {{ person.department }}</small></h4>
					   <span>{{ person.projecttitle }}</span> 
				   </div>
			   </li>
    {% endif %}
    {% endfor %}
</ul>
</div><!-- end col -->
</div>
